@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bank Q1</h1>
    <br />


    <h2 class="font-italic" style="background-color:orange">We are your best option to invest your money</h2>
    <br />

    <div>
        <p class="text-left font-weight-bold list-inline h3"style="color:sandybrown">

            We have been the best option for creating solid investment portfolios.
            Our Customers have a positive opinion about us and we keep consolidating 
            as the best option to invest your money!. Please contact us and ask for our
            investment option and how to grow your portfolio over the time. We will talk soon!!

        </p>
    </div>

    <br />
    <br />

    <h2 class="text-left"style="color:saddlebrown">Here you can see a list of our products:</h2>
    
    <div>
        <ul class="text-left list-inline font-weight-bold h3"style="color:darkorange">
            <li>Bonds</li>
            <li>Options</li>
            <li>Stocks</li>
        </ul>


    </div>  
       
  






    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




